/node_modules
backend/.env
backend/.cognee_data
backend/cognee_data
backend/__pycache__
backend/cognee_system
backend/graphs
backend/.env*
frontend/node_modules
frontend/.next/
frontend/build
frontend/.env*
frontend/.vercel
frontend/next-env.d.ts
