@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import "tailwindcss";

@theme {
  --color-page-bg: #F5F5F5;
  --color-memoria-ink: #222222;
  --color-memoria-highlight: #FFE1EE;
  --color-memoria-highlight-green: #D1FADF;
  --color-memoria-pink: #D63B81;
  --color-memoria-teal: #6CB6B3;
  --color-memoria-green: #3B7E48;
  
  --font-diary: "Permanent Marker", cursive;
  --font-serif-main: "Georgia", serif;
}

.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
